<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="css/jsGrid/jsgrid-theme.min.css"/>
        <link type="text/css" rel="stylesheet" href="css/jsGrid/jsgrid.min.css"/>
        <link type="text/css" rel="stylesheet" href="css/bootstrap/bootstrap-grid.min.css"/>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('js/libraries/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ asset('js/libraries/moment.js') }}"></script>
        <script type="text/javascript" src={{ asset('js/libraries/jsGrid/jsgrid.min.js') }}></script>
        <script type="text/javascript" src={{ asset('js/libraries/bootstrap/bootstrap.min.js') }}></script>
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row"><div class="col-sm"><p>Header</p></div></div>
    <div class="row">
        <div class="col-1">
            <p>MENU</p>
        </div>
        <div class="col-10">
            {% block body %}{% endblock %}
        </div>
    </div>
    <div class="row"><div class="col-sm"><p>Footer</p></div></div>
</div>
</body>
</html>
