{% extends "base.html.twig" %}
{% block body %}
    <div id="jsGrid"></div>
    <script>
        const DATE_FORMAT = 'DD-MM-YYYY';
        const setWeekDates = (startOfWeek, endOfWeek) => {
            let i;
            const selectedWeekDays = [];
            for (i = startOfWeek; i <= endOfWeek; i++) {
                selectedWeekDays.push(moment().day(i).format(DATE_FORMAT));
            }
            return selectedWeekDays;
        };
        const setMonthDates = (selectedMonth) => {
            let i;
            const selectedMonthDays = [];
            const daysInMonth = moment().month(selectedMonth).daysInMonth();

            for (i = 1; i <= daysInMonth; i++) {
                selectedMonthDays.push(moment().month(selectedMonth).date(i).format(DATE_FORMAT));
            }
            return selectedMonthDays;
        };
        const setYearDates = (year) => {
            let i;
            const selectedYearDates = [];
            for (let i = 0; i < 366; i++) {
                selectedYearDates.push(moment().year(year).dayOfYear(i).format(DATE_FORMAT));
            }
            return selectedYearDates;
        };

        const route = "{{ path('read_all_calendar_events')|escape('js') }}";
        const route2 = "{{ path('read_calendar_event_by_id', {calendarEventId: '1'})|escape('js') }}";

        let getAllData = [];
        let userObject = [];

        const getAllDataAjaxCall = () => {
            return $.ajax({
                url: route,
                type: 'GET',
                cache: false,
            });
        };

        getAllDataAjaxCall().done(data => {
            console.log(data);
            let dates = setWeekDates(1, 7);
            const dateObjects = dates.map(date => {
                return {name: date, type: "text", width: 200}
            });
            const userData = data.map(item => {
                return {"Users": item.username}
            });
            data.map(entry => {
                let entryDate = moment(entry.event_date.date).format('DD-MM-YYYY');
                userData.map(item => {
                    dates.forEach(date => {
                        if (date === entryDate && item.Users === entry.username) {
                            item[entryDate] = entry.event_type;
                        }
                    });
                });
            });

            console.log(userData);
            const gridProperties = {
                width: "100%",
                height: "400px",
                inserting: false,
                editing: false,
                sorting: false,
                paging: false,
                data: userData,
                fields: [{name: "Users", type: "text", width: 200},]
            };
            dateObjects.forEach(dateObject => {
                gridProperties.fields.push(dateObject)
            });


            //
            // dates.forEach(item => {
            //     gridProperties.fields.push({name: item, type: "text", width: 200})
            // });


            $("#jsGrid").jsGrid(gridProperties);

        });

    </script>


{% endblock %}