{% extends "base.html.twig" %}
{% block body %}

    <div class="card bg-light mb-3" style="height: 100%">
        <div class="card-header">Header</div>
        <div class="card-body">
            <div id="jsGrid"></div>
        </div>
    </div>
    <script>
        const DATE_FORMAT = 'DD-MM-YYYY';
        const setWeekDates = (startOfWeek, endOfWeek) => {
            let i;
            const selectedWeekDays = [];
            for (i = startOfWeek; i <= endOfWeek; i++) {
                selectedWeekDays.push(moment().day(i).format(DATE_FORMAT));
            }
            return selectedWeekDays;
        };
        const setMonthDates = (selectedMonth) => {
            let i;
            const selectedMonthDays = [];
            const daysInMonth = moment().month(selectedMonth).daysInMonth();

            for (i = 1; i <= daysInMonth; i++) {
                selectedMonthDays.push(moment().month(selectedMonth).date(i).format(DATE_FORMAT));
            }
            return selectedMonthDays;
        };
        const setYearDates = (year) => {
            let i;
            const selectedYearDates = [];
            for (let i = 0; i < 366; i++) {
                selectedYearDates.push(moment().year(year).dayOfYear(i).format(DATE_FORMAT));
            }
            return selectedYearDates;
        };

        const readAllEventsRoute = "{{ path('read_all_calendar_events')|escape('js') }}";
        const readEventByIdRoute = "{{ path('read_calendar_event_by_id', {calendarEventId: '1'})|escape('js') }}";
        const readAllUsersRoute = "{{ path('read_all_users')|escape('js') }}";

        const getAllDataAjaxCall = () => {
            return $.ajax({
                url: readAllEventsRoute,
                type: 'GET',
                cache: false,
            });
        };

        const getUserDataAjaxCall = () => {
            return $.ajax({
                url: readAllUsersRoute,
                type: 'GET',
                cache: false,
            });
        };

        $.when(getAllDataAjaxCall(), getUserDataAjaxCall()).done((data, userDataAjaxCall) => {
            data = data[0];
            const users = userDataAjaxCall[0];
            let dates = setWeekDates(0, 6);
            const dateObjects = dates.map(date => {
                return {name: date, type: "text", width: 150}
            });
            const userData = users.map(item => {
                return {"Users": item.fullName, id: item.id}
            });
            data.map((entry) => {
                userData.map((user) => {
                    let entryDate = moment(entry.event_date.date).format('DD-MM-YYYY');
                    if (user.id === entry.userId) {
                        user[entryDate] = entry.event_type
                    }
                })
            });
            const gridProperties = {
                width: "100%",
                height: "750px",
                inserting: false,
                editing: false,
                sorting: false,
                paging: false,
                data: userData,
                fields: [{name: "Users", type: "text", width: 200},]
            };
            dateObjects.forEach(dateObject => {
                gridProperties.fields.push(dateObject)
            });
            $("#jsGrid").jsGrid(gridProperties);
        })
    </script>


{% endblock %}