<div class="row" style="height: 100%;min-width: 160rem">
    <div class="col-1">
        <div class="card bg-light mb-3" style="height: 100%;max-width: 18rem">
            <div class="card-body">
                <h5 class="card-title">Calendar views</h5>
                <p class="card-text">
                <ul class="nav flex-column">
                    <li class="nav-item">
                    <li class="nav-item">
<<<<<<< Updated upstream
                        <a class="nav-link" href="#" data-toggle="tooltip" data-placement="right"
                           title="Tooltip on top" >Monthly view</a>
=======
                        <button class="nav-link" href="#" data-toggle="tooltip" data-placement="right"
                           title="Tooltip on top">Monthly view</button>
>>>>>>> Stashed changes
                    </li>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" href="#" data-toggle="tooltip" data-placement="right"
                           title="Tooltip on top">Monthly view</button>
                    </li>
                    <li class="nav-item">
                    <li class="nav-item">
                        <button class="nav-link" href="#" data-toggle="tooltip" data-placement="right"
                           title="Tooltip on top">Monthly view</button>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </div>
