<div class="row">
    <div class="col-1">
        <div class="card bg-light mb-3" style="height: 100%;max-width: 18rem">
            <div class="card-body">
                <h5 class="card-title">Calendar views</h5>
                <p class="card-text">
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right"
                            title="Tooltip on top">
                        Weekly View
                    </button>
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right"
                            title="Tooltip on top">
                        Monthly view
                    </button>
                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right"
                            title="Tooltip on top">
                        Yearly View
                    </button>
            </div>
        </div>
    </div>
